* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 50px;  
    height: auto; 
}

body {
    font-family: Arial, sans-serif;
}

header .navbar {
    background-color: #007BFF;
    color: rgb(149, 236, 244);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    list-style: none;
    display: flex;
}

header .navbar ul li {
    padding: 0 15px;
}

header .navbar ul li a {
    color: white;
    text-decoration: none;
}
.intro-section {
    background-color: #7edae6;
    padding: 40px 20px;
    text-align: center;
}

section {
    padding: 20px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.about{
    background: #e97272;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}
.service {
    background: #e97272;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}
#book-session {
    background-color: #9cdce8;
    padding: 20px;
    margin-top: 20px;
}

#book-session form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: rgb(223, 131, 131);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#book-session label {
    display: block;
    margin-bottom: 10px;
}

